<section>
  @for(work of works; track work; let ind = $index) {
  <div class="box">
    <img [ngClass]="{ 'loading': !work.isLoading }" decoding="async" fetchpriority="low" loading="lazy" [src]="work.img" alt="Showcase of {{ work.name }} Page" (load)="onLoad(ind)">
    <div class="links">
      <a target="_blank" [href]="work.siteLink"><i class="fa-solid fa-link">
          <div class="line"></div>
        </i></a>
      <a target="_blank" [href]="work.codeLink"><i class="fa-brands fa-github">
          <div class="line"></div>
        </i></a>
    </div>
    <div class="details">
      <h4>Project Info: </h4>
      <p>{{work.details}}</p>
      <h4>Used Technologies</h4>
      <div class="icons">
          @for(stack of work.technologies; track stack; let i = $index) {
            <i class="fa-brands {{stack}}"></i>
          }
      </div>
    </div>
  </div>
  }
</section>
