section {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.loading {
  pointer-events: none;
  opacity: 1 !important;
}

.box {
  opacity: 1;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 2rem;
  background-color: #111;

  &::before {
    animation: shift 1.2s linear infinite both;
    content: ' ';
    z-index: 1;
    position: absolute;
    opacity: 0.15;
    inset: -100%;
    background-image: url('../../../../public/white_noise.jpeg');
  }

  .details {
    background-color: rhgb(0 0 0 / 0.5);
    display: none;
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);

    p {
      font-size: 1.125rem;
    }

    h4 {
      margin-top: 2rem;
      font-family: "Inter Tight", sans-serif;
      font-size: 2rem;

      &:first-child {
        margin-block-end: 1rem;
      }
    }

    .icons {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;

      i {
        margin-top: 0.5rem;
        font-size: 2rem;
      }

      .angular {
        color: #dd0031;
      }

      .html {
        color: #e34f26;
      }

      .react {
        color: #61DBFB;
      }

      .scss {
        color: #c6538c;
      }

      .css {
        color: #264de4;
      }

      .js {
        color: #f1e05a;
      }
    }
  }

  img {
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
  }

  &::after {
    position: absolute;
    content: "";
    z-index: -5;
    inset: 0;
    // background-color: rgba(#000, 0.5);
    transition: all 0.2s ease;
  }

  &:hover {
    cursor: pointer;
    .details {
      color: #fff;
      display: block;
      left: 1.5rem;
    }

    &::after {
      z-index: 3;
      background-color: rgba(#000, 0.8);
    }
  }
}

.links-a-la-carte {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: .75rem;

  i {
    cursor: pointer;
    padding: .5rem;
    border-radius: 5rem;
    background-color: var(--input-bg);
    position: relative;
    font-size: 1.25rem;
    color: #fff;
  }
}

@media (width < 800px) {
  section {
    padding-top: 8rem;
    grid-template-columns: 1fr;
  }
}


@media (width < 500px) {
  .box {
    border-radius: 1rem;

    .details {
      width: 90%;

      h4 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .links {
      i {
        font-size: 1rem;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 100%;
  }
  to {
    opacity: 1;
    translate: 0 0%;
  }
}

@media (width > 1024px) {
  .project {
    opacity: 0;
    translate: 0 100%;
    animation: fade-in ease 1.25s 4s forwards;
  }
}


.project {
  display: flex;
  flex-direction: column;
}

.tools-btn {
  background: transparent;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding: .5rem;
  border-radius: 5rem;
  background-color: var(--input-bg);
  font-size: 1.25rem;
  color: white;
}

@keyframes showup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icons {
  display: flex;
  gap: 0.5em;

  iconify-icon {
    opacity: 0;
    animation: showup .75s ease 0s forwards;
    animation-delay: calc(var(--position) * 0.15 * 1s);
    font-size: 1.25rem;
  }
}
