<section>
  @for(work of works; track work; let ind = $index) {
  <div class="project">

    <div class="box">
      <img [ngClass]="{ 'loading': !work.isLoading }" decoding="async" fetchpriority="low" loading="lazy"
        [src]="work.img" alt="Showcase of {{ work.name }} Page" (load)="onLoad(ind)">
      <div class="details">
        <h4>Project Info: </h4>
        <p>{{work.details}}</p>
      </div>
    </div>

    <div class="links-a-la-carte">
      <a target="_blank" [href]="work.siteLink">
        <i class="fa-solid fa-link"></i>
      </a>
      <a target="_blank" [href]="work.codeLink">
        <i class="fa-brands fa-github"></i>
      </a>
      <button type="button" (click)="toggleTools(ind)" class="tools-btn" aria-label="Show Technologies">
        <iconify-icon icon="mdi:tools"></iconify-icon>
      </button>
      <div class="icons" *ngIf="showTools[ind]">
        @for(stack of work.technologies; track stack; let i = $index) {
        <iconify-icon icon="{{stack}}" style="--position: {{i}}"></iconify-icon>
        }
      </div>
    </div>


  </div>
  }
</section>
