<main class="wrapper container">
  <h2>
    <div class="pulse">
      <div class="dot"></div>
      <div class="circle"></div>
    </div>
    Available for work
  </h2>
  <h1>I AM A</h1>
  <h1>
    <div class="pos">Developer</div>
  </h1>

  <div class="works">
    <div class="box">
      <div class="details">
        <h4>Project Info: </h4>
        <p>This project mainly focused on my ui/ux development skills. I implemented the use of animations and
          transitions. This project was used to show my form validation as well as to show that I could use web APIs
          such as the Intersection Observer</p>
        <h4>Used Technologies</h4>
        <div class="icons">
          <i class="fa-brands js fa-square-js"></i>
          <i class="fa-brands scss fa-sass"></i>
          <i class="fa-brands css fa-css3-alt"></i>
          <i class="fa-brands html fa-html5"></i>
        </div>
      </div>
      <img src="./Glint.png" alt="Showcase of Glint's Landing Page">
      <div class="links">
        <a target="_blank" href="https://anas-sdeprj-glint-landing-page.netlify.app/"><i class="fa-solid fa-link">
            <div class="line"></div>
          </i></a>
        <a target="_blank" href="https://github.com/AnasIsmai1/Glint"><i class="fa-brands fa-github">
            <div class="line"></div>
          </i></a>
      </div>
    </div>
    <div class="box">
      <img src="./Anime.png" alt="Showcase of Anime Data List Page">
      <div class="links">
        <a target="_blank" href="https://anas-anime-list.netlify.app/"><i class="fa-solid fa-link">
            <div class="line"></div>
          </i></a>
        <a target="_blank" href="https://github.com/AnasIsmai1/popular-anime-data"><i class="fa-brands fa-github">
            <div class="line"></div>
          </i></a>
      </div>
      <div class="details">
        <h4>Project Info: </h4>
        <p>This project was made to display my ablity to work with APIs. This particular project makes use of Jikan api
          which basically used data from the my anime list website. I created the entire webpage using html,css and js.
          Instead of hardcoding the cards i dynamically rendered them using js and then after they all loaded they would
          be added to the DOM via document fragments.</p>
        <h4>Used Technologies</h4>
        <div class="icons">
          <i class="fa-brands js fa-square-js"></i>
          <i class="fa-brands scss fa-sass"></i>
          <i class="fa-brands css fa-css3-alt"></i>
          <i class="fa-brands html fa-html5"></i>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="details">
        <h4>Project Info: </h4>
        <p>This project mostly involved making the use of flexbox and grid properties to create a proper layout. Most of
          the focus was put on css rather than js, which was used to create the menu. </p>
        <h4>Used Technologies</h4>
        <div class="icons">
          <i class="fa-brands js fa-square-js"></i>
          <i class="fa-brands css fa-css3-alt"></i>
          <i class="fa-brands html fa-html5"></i>
        </div>
      </div>
      <img src="./Shades.png" alt="Showcase of Shades Landing page">
      <div class="links">
        <a target="_blank" href="https://anas-sdeprj-shades-landing-page.netlify.app/"><i class="fa-solid fa-link">
            <div class="line"></div>
          </i></a>
        <a target="_blank" href="https://github.com/AnasIsmai1/Websites/tree/main/Shades-Landing-Page"><i
            class="fa-brands fa-github">
            <div class="line"></div>
          </i></a>
      </div>
    </div>
    <div class="box">
      <div class="details">
        <h4>Project Info: </h4>
        <p>This project is a news landing page. This was made using Angular, I made use of components to create the
          articles at the bottom and dynamically render them in.</p>
        <h4>Used Technologies</h4>
        <div class="icons">
          <i class="fa-brands angular fa-angular"></i>
          <i class="fa-brands js fa-square-js"></i>
          <i class="fa-brands scss fa-sass"></i>
          <i class="fa-brands css fa-css3-alt"></i>
          <i class="fa-brands html fa-html5"></i>
        </div>
      </div>
      <img src="./News.png" alt="Showcase of News Landing Page">
      <div class="links">
        <a target="_blank" href="https://anas-sdeprj-news-homepage.vercel.app/"><i class="fa-solid fa-link">
            <div class="line"></div>
          </i></a>
        <a target="_blank" href="https://github.com/AnasIsmai1/News-Homepage-Main"><i class="fa-brands fa-github">
            <div class="line"></div>
          </i></a>
      </div>
    </div>
  </div>

</main>
