<div class="container">
  <h2>Code Expert</h2>
  <h1>
    <div style="--content: 'A'">A</div>
    <div style=" --content: 'n'">n</div>
    <div style="--content: 'a'">a</div>
    <div style="--content: 's'">s</div>
    <div class="box"></div>
  </h1>
  <section class="intro">
    <div>I am <div class="pic"></div>Anas, practicing web development for <span class="time">1 year</span>.</div>
    <p>I like to create websites with loads of animations and meaningful UX</p>
  </section>
</div>
<section class="scroll">
  <img loading="lazy" style="--pos: 1" src="./pc.jpeg" alt="pc with green aesthetic">
  <img loading="lazy" style="--pos: 2" src="./controller.jpeg" alt="ps4 controller blue aesthetic">
  <img loading="lazy" style="--pos: 3" src="./random.jpeg" alt="room with orange aesthetic">
  <img loading="lazy" style="--pos: 4" src="./flash.jpeg" alt="lightning neon sign with blue aesthetic">
  <img loading="lazy" style="--pos: 5" src="./Nissan.jpeg" alt="nissan r32 wiht black aesthetic">
  <img loading="lazy" style="--pos: 6" src="./pc.jpeg" alt="pc with green aesthetic">
  <img loading="lazy" style="--pos: 7" src="./controller.jpeg" alt="ps4 controller blue aesthetic">
  <img loading="lazy" style="--pos: 8" src="./random.jpeg" alt="room with orange aesthetic">
  <img loading="lazy" style="--pos: 9" src="./flash.jpeg" alt="lightning neon sign with blue aesthetic">
  <img loading="lazy" style="--pos: 10" src="./Nissan.jpeg" alt="nissan r32 wiht black aesthetic">
</section>
<div class="container">
  <section class="services">
    <h2>Services</h2>
    <div> <img loading="lazy" src="./blueprint.jpeg" alt="">
      <h3 #firstService [ngClass]="{ 'active': isVisible }">Web Developer</h3>
    </div>
    <div>
      <h3 #secondService [ngClass]="{ 'active-rev': isVisible }">Design</h3> <img loading="lazy" src="./laptop.jpeg"
        alt="">
    </div>
    <div> <img loading="lazy" src="./KEYBOARD.jpeg" alt="">
      <h3 #thirdService [ngClass]="{ 'active': isVisible }">UI Developer</h3>
    </div>
  </section>

  <div class="partition hobbies">
    <div class="left">
      <h3>Hobbies </h3>
    </div>
    <div class="right">
      <div class="line">
        <p>Boxing</p>
        <p>2023</p>
      </div>
      <div class="line">
        <p>Arduino Development</p>
        <p>2021</p>
      </div>
      <div class="line">
        <p>Reading</p>
        <p>2018</p>
      </div>
      <div class="line">
        <p>Art</p>
        <p>2016</p>
      </div>
    </div>
  </div>

  <div class="partition colophon">
    <div class="left">
      <h3>Colophon</h3>
    </div>
    <div class="right">
      <div class="line">
        <p>Icons</p>
        <p>Nerd Fonts</p>
      </div>
      <div class="line">
        <p>Images</p>
        <p>Unsplash</p>
      </div>
      <div class="line">
        <p>Fonts</p>
        <p>Google Fonts</p>
      </div>
      <div class="line">
        <p>Icons</p>
        <p>Font Awesome</p>
      </div>
      <div class="line">
        <p>Images</p>
        <p>Pinterest</p>
      </div>
    </div>
  </div>

  <app-contact-section></app-contact-section>
</div>
