.container {
  overflow: unset;
  padding-block: 10rem;
  text-align: center;


  h1 {
    width: fit-content;
    margin: auto;
    position: relative;
    overflow: clip;
    font-family: "Inter Tight", serif;
    font-size: 12rem;
    font-weight: 800;
    text-transform: uppercase;


    div {
      color: var(--bg-100);
      overflow: hidden;
      position: relative;
      display: inline;

      &::after {
        position: absolute;
        left: 0;
        content: var(--content);
        color: var(--text-900);
        line-height: unset;
        transition: .2s linear;
      }

      &::before {
        content: var(--content);
        left: 0;
        position: absolute;
        color: var(--text-900);
        transition: .2s linear;
      }

      &:nth-child(odd) {
        &::before {
          top: -100%
        }

        &::after {
          top: 0;
        }
      }

      &:nth-child(even) {
        &::before {
          top: 0
        }

        &::after {
          top: 100%
        }
      }
    }

    &:hover {
      cursor: pointer;

      div:nth-child(even) {
        &::before {
          top: -100%;
        }

        &::after {
          top: 0;
        }

      }

      div:nth-child(odd) {
        &::before {
          top: 0;
        }

        &::after {
          top: 100%;
        }
      }
    }

  }

  .box {
    position: absolute;
    left: 0;
    top: 80%;
    background-color: var(--bg-100);
    width: 100%;
    height: 30%;
  }
}

p {
  font-size: 2rem;
  font-family: "Inter Tight", sans-serif;
}


h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
  text-transform: uppercase;
}

.box {
  height: 50vw;
  margin-block: 2rem;

  h3 {
    position: sticky;
    top: 3rem;
    width: fit-content;
    font-size: 4rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.5rem;
  }
}

.scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  display: block;
  text-align: center;

  .loaded {
    opacity: 1 !important;
  }

  img {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0%;
    border-radius: 2rem;
    object-fit: cover;
    width: 250px;
    aspect-ratio: 1;
    transition: opacity 0.3s ease;
    animation: slideLeft 40s calc((40 / 10) * (10 - var(--pos)) * -1s) linear infinite;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      inset: 0;
      background-image: url('../../../../public/white_noise.jpeg');
    }
  }
}

.intro {
  color: var(--text-900);
  padding-block: 4rem;
  font-weight: 500;

  div {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "inter tight", serif;
  }

  .pic {
    margin-inline: 0.5rem;
    position: relative;
    z-index: 2;
    display: inline-flex;
    filter: grayscale(1);
    width: 50px;
    height: 80px;
    border-radius: 2rem;
    background-image: url('../../../../public/me.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    transform: translatey(50%);

    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      inset: 0;
      background-color: rgba(var(--bg-100), 0.3);
    }
  }

  .time {
    margin-left: 1rem;
    text-shadow: 0 0 10px rgba(var(--bg-100), 0.5);
    font-weight: 800;
    background-size: fit;
    padding: .25rem 1.5rem;
    border-radius: 2rem;
    background-image: url('../../../../public/sea.jpeg');
  }
}

.services {
  padding-block: 9rem;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  div {
    position: relative;
    z-index: 2;
    display: flex;

    &:not(:nth-child(3)) {
      h3 {
        transform-origin: right;
      }
    }

    &::before {
      pointer-events: none;
      position: absolute;
      content: "";
      z-index: 5;
      top: 100%;
      width: 99%;
      height: 500%;
      background-color: var(--bg-100);
      left: 0;
    }

    &:nth-child(2) {
      img {
        object-position: center bottom;
      }
    }

    &:nth-child(3) {
      transform: translateX(15%);
    }
  }

  h2 {
    align-self: center;
    margin-bottom: 2rem;
  }

  img {
    position: relative;
    z-index: 10;
    margin-inline: 1rem;
    position: relative;
    display: inline;
    object-fit: cover;
    width: 175px;
    aspect-ratio: 4 / 2.5;
    border-radius: 5rem;
    box-shadow: 0 0 20px rgba(var(--text-900), 0.1);
  }

  h3 {
    position: relative;
    font-size: 8rem;
    line-height: 120px;
    width: fit-content;
    font-weight: 800;
    font-family: "inter tight", serif;
    text-transform: uppercase;
  }

}

.partition {
  position: relative;
  z-index: 10;
  padding-block: 4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 30% 70%;

  h3 {
    position: sticky;
    top: 6rem;
    text-align: left;
    font-family: "Inter Tight", sans-serif;
    font-size: 4rem;
    font-weight: 400;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .line {
      border-radius: 1rem;
      padding: 2.5rem 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #111;

      p {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: "Roboto Mono", monospace;
      }
    }
  }
}

@keyframes popup-rev {
  from {
    transform: translateY(150%) rotate(25deg);
  }

  to {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes popup {
  from {
    transform: translateY(150%);
    rotate: -25deg;
  }

  to {
    transform: translateY(0);
    rotate: 0;
  }
}

@keyframes slideLeft {
  from {
    left: max(calc(250px * 10), 100%);
  }

  to {
    left: -250px;
  }
}

@keyframes slideLeftMini {
  from {
    left: max(calc(200px * 10), 100%);
  }

  to {
    left: -200px;
  }
}

@keyframes slideLeftLast {
  from {
    left: max(calc(150px * 10), 100%);
  }

  to {
    left: -150px;
  }
}

@keyframes fade {
  from {
    scale: .8;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

.active {
  animation: popup .8s ease;
}

.active-rev {
  animation: popup-rev .8s ease;
}

@media (width < 1500px) {
  .container {
    .intro {
      padding-top: 0;
    }

    .services {
      div {
        img {
          width: 150px;
          height: 110px
        }
      }

      h3 {
        font-size: 6rem;
      }
    }
  }
}

@media (width < 1200px) {

  .container {

    .services {
      div {
        align-items: center;

        img {
          width: 125px;
          height: 90px;
        }

        &:nth-child(3) {
          transform: none;
        }
      }

      h3 {
        line-height: 90px;
        font-size: 5rem;
      }
    }
  }

  .partition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .scroll {
    height: 200px;

    img {
      width: 200px;
      animation: slideLeftMini 40s calc((40 / 10) * (10 - var(--pos)) * -1s) linear infinite;
    }
  }

  .active,
  .active-rev {
    animation: none;
  }
}

@media (width < 900px) {

  .container {
    h1 {
      line-height: 80px;

      div {
        color: var(--text-900);
        font-size: 7rem;

        &::before,
        &::after {
          display: none;
        }
      }
    }

    &:last-child {
      padding-block-start: 4rem;
    }

    padding-block-end: 4rem;
  }

  .intro {

    div,
    p {
      font-size: 1.5rem;
    }
  }

  .services {
    display: flex;
    align-items: center;

    div {
      img {
        display: none;
      }
    }
  }
}

@media (width < 700px) {
  .container {
    .intro {
      div {
        margin: 0;
        margin-top: 3rem;

        .pic {
          display: none;
        }

        .time {
          margin-left: 0;
          padding: 0;
          background-image: none;
        }
      }
    }

    .services {
      padding-block: 2rem;

      h3 {
        font-size: 3.5rem;
        line-height: 60px;
      }
    }

    .partition {
      .right {
        margin-top: 1rem;

        .line {
          p {
            font-size: 1rem;
          }
        }
      }
    }

  }

  .scroll {
    img {
      width: 150px;
      animation: slideLeftLast 40s calc((40 / 10) * (10 - var(--pos)) * -1s) linear infinite;
    }
  }
}

@media (width < 500px) {
  .container {
    .intro {

      div,
      p {
        font-size: 1rem;
      }
    }

    .services {
      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 2.75rem;
        line-height: 50px;
      }
    }

    .partition {
      h3 {
        font-size: 3rem;
      }
    }
  }
}
