<nav>
  <ul>
    <li><a routerLink="/" (click)="onClick()">Work</a>
      <div class="line">
        <p style="--position: 1;">[ View Work ]</p>
        <p style="--position: 2;">[ View Work ]</p>
        <p style="--position: 3;">[ View Work ]</p>
        <p style="--position: 4;">[ View Work ]</p>
        <p style="--position: 5;">[ View Work ]</p>
        <p style="--position: 6;">[ View Work ]</p>
        <p style="--position: 7;">[ View Work ]</p>
        <p style="--position: 8;">[ View Work ]</p>
      </div>
    </li>
    <li><a routerLink="/about" (click)="onClick()">About</a>
      <div class="line">
        <p style="--position: 1;">[ View About ]</p>
        <p style="--position: 2;">[ View About ]</p>
        <p style="--position: 3;">[ View About ]</p>
        <p style="--position: 4;">[ View About ]</p>
        <p style="--position: 5;">[ View About ]</p>
        <p style="--position: 6;">[ View About ]</p>
        <p style="--position: 7;">[ View About ]</p>
        <p style="--position: 8;">[ View About ]</p>
      </div>
    </li>
    <li><a routerLink="/contact" (click)="onClick()">Contact</a>
      <div class="line">
        <p style="--position: 1;">[ View Contact ]</p>
        <p style="--position: 2;">[ View Contact ]</p>
        <p style="--position: 3;">[ View Contact ]</p>
        <p style="--position: 4;">[ View Contact ]</p>
        <p style="--position: 5;">[ View Contact ]</p>
        <p style="--position: 6;">[ View Contact ]</p>
        <p style="--position: 7;">[ View Contact ]</p>
        <p style="--position: 8;">[ View Contact ]</p>
      </div>
    </li>
    <li><a routerLink="/stack" (click)="onClick()">Stack</a>
      <div class="line">
        <p style="--position: 1;">[ View Stack ]</p>
        <p style="--position: 2;">[ View Stack ]</p>
        <p style="--position: 3;">[ View Stack ]</p>
        <p style="--position: 4;">[ View Stack ]</p>
        <p style="--position: 5;">[ View Stack ]</p>
        <p style="--position: 6;">[ View Stack ]</p>
        <p style="--position: 7;">[ View Stack ]</p>
        <p style="--position: 8;">[ View Stack ]</p>
      </div>
    </li>
  </ul>
  <app-socials class="socials"></app-socials>
  <div class="overlay"></div>
</nav>
