<div class="wrapper container">
  <h2>Tools i use everyday</h2>
  <h1>Tech<br>Stack</h1>
</div>
<div class="tools">

  @for(item of stack;track item; let i = $index){
  <a href="{{item.link}}" target="__blank" class="box" class="box-{{i+1}}">
    <div class="arrow" href="">
      <i class="fa-solid fa-arrow-up"></i>
    </div>
    <button>{{item.badge}}</button>
    <iconify-icon icon="{{item.class}}" style="{{item.style}}"></iconify-icon>
    <h3>{{item.title}}</h3>
    <video src="./abstract.mp4" autoplay="true" loop="true"></video>
  </a>
  }
</div>
