footer {
  padding-block: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;

  p {
    color: #aaa;
    text-transform: uppercase;

    strong {
      color: var(--text-900);
    }
  }

  .socials {
    display: flex;
    gap: 2rem;

    a {
      position: relative;
      z-index: 10;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      color: var(--text-900);

      i {
        margin-left: .75rem;
        transform: rotate(45deg) scale(1.25);
        transition: .25s ease;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0;
        z-index: -2;
        width: 0%;
        height: 1px;
        background-color: var(--text-600);
        transition: .4s ease;
      }

      &:hover {
        i {
          rotate: -90deg;
        }

        &::before {
          width: 80%;
        }
      }
    }

  }

  .top {
    position: relative;
    z-index: 10;
    color: var(--text-900);
    cursor: pointer;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: var(--text-900);
    }

    &::after {
      content: "";
      text-align: right;
      color: red;
      position: absolute;
      z-index: -2;
      bottom: -20%;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: var(--text-900);
      transition: 0.4s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

@media (width < 800px) {
  .container {
    display: unset;
    display: grid;
    align-items: flex-end;
    grid-row-gap: .5rem;
    grid-template-columns: repeat(2, 1fr);

    p {
      grid-column: 1;
      justify-self: left;
    }

    app-socials {
      grid-column: 1;
      justify-self: left;
    }

    .top {
      grid-column: 2;
      justify-self: right;
    }
  }
}

@media (width < 500px) {
  .contianer {

    p {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .top a {
      font-size: 0.9rem;
    }
  }
}
