/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: dark light;
  --red: #ff0000;
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

input,
textarea,
button {
  display: block;
  font: inherit;
}

button {
  border: none;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

body {
  color: var(--text-900);
  background-color: var(--bg-100);
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
}

i {
  font-family: serif;
}

.container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

@keyframes shift {
  from {
    transform: translate(10%, 20%);
  }

  to {
    transform: translate(-20%, -10%);
  }
}


@media (width < 800px) {
  .container {
    width: 90%;
  }
}

// Colors
html[data-theme=dark] {
  color-scheme: dark;
  --bg-100: #000;
  --text-900: #fff;
  --text-700: #ddd;
  --text-600: #ccc;
  --text-500: #bbb;
  --input-bg: #141414;
}

html[data-theme=light] {
  color-scheme: light;
  --bg-100: #FAF9F6;
  --text-900: #000;
  --text-700: #212121;
  --text-600: #323232;
  --text-500: #434343;
  --input-bg: #EBEBEB;
}
