/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

input,
textarea,
button {
  display: block;
  font: inherit;
}

button {
  border: none;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
}

i {
  font-family: serif;
}

.container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.dark {
  $dark-100: #000;
}

.light {
  $light-100: #fff;
}

@keyframes shift {
  from {
    transform: translate(10%, 20%);
  }

  to {
    transform: translate(-20%, -10%);
  }
}



@media (width < 800px) {
  .container {
    width: 90%;
  }
}
