header {
  height: 10vh;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  a {
    mix-blend-mode: darken;
    text-decoration: none;
    color: var(--text-900);
  }

  .logo {
    mix-blend-mode: darken;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    span {
      mix-blend-mode: darken;
    }

    .star {
      mix-blend-mode: darken;
      color: var(--text-900);
      display: grid;
      place-items: center;
      place-content: center;
      font-size: .9rem;
      width: 35px;
      height: 35px;
      font-size: 3rem;
      transform: translateY(-5px) rotate(0deg);
      transition: transform .4s ease;
      transform-origin: center;

      &:hover {
        color: yellow;
        transform: rotate(180deg);
        transform-origin: center;
      }
    }

    h3 {
      mix-blend-mode: darken;
      position: relative;
      z-index: 5;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .name {
      mix-blend-mode: darken;
      position: relative;
      z-index: 2;

      &::before {
        mix-blend-mode: darken;
        content: "";
        position: absolute;
        bottom: -15%;
        z-index: -1;
        width: 0%;
        height: 1px;
        transform: translateY(2%);
        background-color: var(--text-900);
        transition: .5s ease;
      }
    }

    .name:hover {
      mix-blend-mode: darken;
      cursor: pointer;

      &::before {
        width: 100%;
      }
    }

  }

  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;

    a {
      cursor: pointer;
    }

    i {
      font-size: 1.25rem;
    }

    div {
      font-size: 1.25rem;
    }

    .menu {
      mix-blend-mode: darken;
      display: inline;
      cursor: pointer;
      position: relative;
      z-index: 5;
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -15%;
        left: 0;
        width: 0%;
        height: 1px;
        transform: translateY(2%);
        background-color: var(--text-900);
        transition: .4s ease;
      }

      &:hover {
        &::before {
          width: 99%;
        }
      }
    }

  }

}
