<header class="container" [ngClass]="{'home': isHome }">
  <div class="logo">
    <span style="transform: translateY(2.5px)"><span class="star">✦</span></span>
    <a routerLink="/" class="name" (mouseover)="onElementHover('logoShow', true)" (mouseleave)="onElementHover('logoShow', false)" (click)="onClickHome()">
      <h3 *ngIf="logoShow">FU7UR3</h3>
      <h3 *ngIf="!logoShow">FUTURE</h3>
    </a>
  </div>
  <nav (mouseover)="onElementHover('menuShow', true)" (mouseleave)="onElementHover('menuShow', false)" >
    <div class="theme-icons" (click)="onThemeToggle()">
      <a title="Switch theme to dark mode" *ngIf="isDarkTheme"><i class="fa-solid fa-sun"></i></a>
      <a title="Switch theme to light mode" *ngIf="!isDarkTheme"><i class="fa-solid fa-moon"></i></a>
    </div>
    <div *ngIf="isClicked" (click)="onClick()">
      <a class="menu" *ngIf="menuShow" >M3nu</a>
      <a class="menu" *ngIf="!menuShow">Menu</a>
    </div>
    <div *ngIf="!isClicked" (click)="onClick()">
      [
      <a class="menu" *ngIf="menuShow">cl0s3</a>
      <a class="menu" *ngIf="!menuShow">close</a>
      ]
    </div>
  </nav>
</header>
